.header--color {
    background-color: var(--first-color);
}

.header--pd {
    padding: 0 10px;
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar li {
    padding: 20px;
}

.navbar li a {
    color: white;

    transition: 0.4s;
}

.navbar li a:hover {
    filter: blur(0.9px);
}
